@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1633424260774') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-html5:before {
  content: "\f01ee";
}

.icon-pie_chart:before {
  content: "\e665";
}

.icon-hammock:before {
  content: "\e70c";
}

.icon-weixing:before {
  content: "\e632";
}

.icon-xiaoxi:before {
  content: "\e711";
}

.icon-R:before {
  content: "\e604";
}

.icon-Bootstrap:before {
  content: "\e6d4";
}

.icon-QQ:before {
  content: "\e882";
}

.icon-tubiao-:before {
  content: "\e611";
}

.icon-npm:before {
  content: "\f1fe";
}

.icon-webpack:before {
  content: "\e799";
}

.icon-Vue:before {
  content: "\e79a";
}

.icon-React:before {
  content: "\e79b";
}

.icon-shijian:before {
  content: "\e616";
}

.icon-aixin:before {
  content: "\e6f9";
}

.icon-ziyuan:before {
  content: "\e566";
}

.icon-MV:before {
  content: "\e62c";
}

.icon-sheji:before {
  content: "\e674";
}

.icon-file_type_typescript:before {
  content: "\e75d";
}

.icon-node:before {
  content: "\e7d0";
}

.icon-bushu:before {
  content: "\e830";
}

.icon-zuanshix:before {
  content: "\e6be";
}

.icon-07:before {
  content: "\e60d";
}

.icon-shejiaotubiao-46:before {
  content: "\e64b";
}

.icon-zu1:before {
  content: "\e506";
}

.icon-css:before {
  content: "\e618";
}

.icon-js:before {
  content: "\e619";
}

.icon-douyin_douyinfensi:before {
  content: "\e61d";
}

.icon-Moment:before {
  content: "\e730";
}

.icon-lodash:before {
  content: "\e504";
}

.icon-wangluo:before {
  content: "\ec63";
}

.icon-icons8-flutter:before {
  content: "\e654";
}

